.border {
    border: 3px solid #bdbfc1;
    height: 500px;
    width: 700px;
    background-color: gray;
    margin: auto;
    margin-top: 60px;
}

.bord {
    border: 3px solid white;
    height: 400px;
    width: 400px;
    margin: 40px 180px;
    font-size: 14px ;
    font-family: Arial;
    color: white;
    text-align: center;
    

}

.text {
    font-size: 14px;
    font-family: Arial;
    color: white;
    text-align: center;
    border: 3px solid #2c2c2d;
    background-color: #2c2c2d;
    height: 70px;
    width: 300px;
    padding: 16px 0px 0px 0px;
    margin: 30px auto;
    border-radius: 20px;
    box-shadow: inset 0 0 6px;

}
.name {
    color: white;
    text-align: center;
    height: 50px;
    width: 300px;
    margin: 10px;
    background-color: #2c2c2d;
    border-radius: 50px;
    box-shadow: inset 0 0 6px; /*  тень */
    border: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 481.291 481.291'%3e%3cg fill='%23006DF0'%3e%3cpath d='M138.814 146.22c3.12 40.976 19.417 23.314 22.779 41.27 5.59 29.848 32.016 51.436 48.466 58.893 9.597 4.348 19.48 6.53 29.871 6.704v.009c.036 0 .072-.004.108-.004s.072.004.108.004v-.009c10.39-.174 20.272-2.355 29.871-6.704 16.45-7.457 42.876-29.045 48.466-58.893 3.362-17.955 19.659-.294 22.779-41.27 0-16.33-8.898-20.394-8.898-20.394s4.523-24.171 6.295-42.77C340.854 59.877 325.129 0 241.25 0c-.367 0-.707.02-1.065.024l-.038-.001V.019l-.108.002-.108-.002v.005l-.038.001c-.358-.005-.698-.024-1.065-.024-83.878 0-99.604 59.877-97.409 83.056 1.771 18.599 6.295 42.77 6.295 42.77s-8.9 4.063-8.9 20.393zM430.313 347.371c-42.308-21.523-103.63-48.406-106.573-49.355-.033-.012-.058-.014-.09-.024a16.363 16.363 0 0 0-5.504-.953c-7.188 0-13.285 4.604-15.547 11.021l-.036-.021c-10.92 26.315-30.979 73.223-43.434 95.842l-3-63.413s18.705-39.699 20.752-43.336c4.82-8.525.479-15.783-8.557-15.783h-55.36c-9.036 0-13.376 7.258-8.557 15.783 2.048 3.637 20.752 43.336 20.752 43.336l-2.999 63.413c-12.455-22.619-32.514-69.524-43.434-95.842l-.036.021c-2.262-6.414-8.359-11.021-15.547-11.021-1.933 0-3.783.34-5.504.953-.032.012-.057.015-.09.024-2.942.949-64.265 27.832-106.573 49.355-19 9.666-30.467 21.688-30.467 34.34v99.58H460.78v-99.58c-.001-12.652-11.467-24.674-30.467-34.34z'/%3e%3c/g%3e%3c/svg%3e");
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: 10px;  
}


.tel {
    color: white;
    text-align: center;
    height: 50px;
    width: 300px;
    margin: 10px;
    background-color: #2c2c2d;
    border-radius: 50px;
    box-shadow: inset 0 0 6px; /*  тень */
    border: none; 
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 16.877 16.877'%3e%3cpath d='M5.301 5.587L1.404 1.688 2.913.177A.598.598 0 0 1 3.756.17l3.036 3.039a.6.6 0 0 1-.003.848l-.665.664-.619.619a1.705 1.705 0 0 0-.204.247zm3.206 6.351a34.186 34.186 0 0 1-1.844-1.725 34.655 34.655 0 0 1-1.724-1.848c-.45-.52-.538-1.273-.303-1.907l-4-4.001c-.931.957-.812 3.33.208 5.415.438.902 1.006 1.716 1.593 2.49a22.316 22.316 0 0 0 1.906 2.176 21.258 21.258 0 0 0 2.171 1.913c.774.589 1.59 1.153 2.486 1.59 2.088 1.019 4.462 1.131 5.418.199l-4.001-4.001c-.634.235-1.388.148-1.91-.301zm8.195 1.181l-3.036-3.037a.605.605 0 0 0-.848.003h-.002l-.667.666-.615.618a1.866 1.866 0 0 1-.247.205l3.896 3.898c.504-.505 1.007-1.007 1.512-1.51a.594.594 0 0 0 .007-.843z' fill='%23006DF0'/%3e%3c/svg%3e");  
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: 10px;
}
button {
    color: white;
    text-align: center;
    height: 50px;
    width: 300px;
    margin: 10px;
    background-color: #42cef4;
    border-radius: 50px;
    border: none;  
}



